# IDE-spezifische Dateien (IntelliJ/CLion)
.idea/
*.iml
*.iws
.idea_modules/

# CMake Build-Verzeichnisse
cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.cmake

# Kompilierte Dateien
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib

# Debug-Dateien
*.dSYM/
*.su
*.idb
*.pdb

# Betriebssystem-spezifische Dateien
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db